
# ValidationResult


::: src.pyphetools.validation.ValidationResult
